body {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  align-content: center;

  color: rgb(36, 94, 74);
  background-color: rgb(191, 191, 201);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 15px;
}

table {
  margin: auto;
}

.text
{
  text-decoration-line: underline;
  text-transform: uppercase;
  font-size: 17px;

}
